body{
    background-color: rgb(58, 58, 58);
}

.container{
    background-color: white;
}

#msgResposta{
    color: red;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

#breadcrumb{
        margin-top: 50px;
        margin-bottom: 5px;
        border-radius: 5px
}

#btnGO{
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 5px
}
.bemvindo {
    margin-top: 10px;
    margin-left: 35%;
    margin-right: auto;
    margin-bottom: 30px;
}