body{
    background-color: rgb(58, 58, 58);
}

.container{
    background-color: white;
}

#msgResposta{
    color: red;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

#breadcrumb{
        margin-top: 50px;
        margin-bottom: 5px;
        border-radius: 5px
}

#btnGO{
    margin-top: 50px;
    margin-bottom: 15%;
    border-radius: 5px
}